In [ ]:
import pandas as pd
import os

# Define the directory containing the CSV files
directory = 'guilherme'

# Initialize an empty list to store DataFrames
dataframes = []

# Loop through all files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Read each CSV file into a DataFrame
        df = pd.read_csv(os.path.join(directory, filename))
        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

# Display the combined DataFrame
combined_df.head()

   Unnamed: 0  NU_ANO  TP_FAIXA_ETARIA  TP_ESCOLA SG_UF_PROVA  NU_NOTA_MT
0           0    2017               11          1          SP       465.5
1           1    2017                7          1          MS         NaN
2           2    2017               13          1          SP         NaN
3           3    2017               12          1          SC       591.2
4           4    2017               13          1          AL       584.6

In [ ]:
combined_df.to_csv(f'./{directory}/join_data.csv')